@model IEnumerable<SkelbimuSvetaine.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Visi komentarai</h1>


@{
    SkelbimuSvetaine.Models.ld1_gynimasContext db = new ld1_gynimasContext();
    string role = db.Users.FirstOrDefault(x => x.Username == User.Identity.Name).Role;
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Komentaras
            </th>
            <th>
                Prekė
            </th>
            <th>
                Vartotojas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @if (role == "admin" || User.Identity.Name == item.User.Username)
                    {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
